<!DOCTYPE html>
<html>

<head>
    <title>Google Form Clone</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/main.css">
</head>

<body>

    <nav>
        <label class="logo"><img src="images/logo.png"></label>
        <label class="formname"> <span> <i class="fa-regular fa-folder"></i></span><span class="star"><i class="fa-regular fa-star"></i></span></label>
        
        <ul>
            <li><a href=""><i class="fa-solid fa-palette"></i></a></li>
            <li><a href=""> <i class="fa-regular fa-eye"></i></a></li>
            <li><a href=""> <i class="fa-sharp fa-solid fa-arrow-rotate-left"></i></a></li>
            <li><a href=""> <i class="fa-sharp fa-solid fa-arrow-rotate-right"></i></a></li>
            <li><button type="submit">Sand</button></li>
            <li><a href=""> <i class="fa-solid fa-ellipsis-vertical" id="dot"></i></a></li>
            <li><a href=""><i class="fa-regular fa-user"></i></a></li>
        </ul>
    </nav>

        
    <div class="form">
        
            <div class="title-div">
                <h1>Google Form</h1>
                <p>Thanks For Submitted ,This Google Form.</p>
                <p class="required">*Your Form has been Successfully Submitted.</p>
            </div>

        <div class="last-div">
            <p class="never">Never submit passwords through Google Forms.</p>
            <p class="term">This content is neither created nor endorsed by Google, Report Abuse - Term of Service -
                Private Policy</p>
            <h2>Google Forms</h2>
        </div>

    </div>

</body>

</html>